In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
rrates = pd.read_csv('residue_rates_cambridge.csv')

In [4]:
rrates

,Collection Day,Month,Date,Year,Residue rate,Truck Number,Date.1
0,Tue,May,5/22,2018,7.50%,148.0,5/22/2018
1,Wed,May,5/23,2018,6.15%,151.0,5/23/2018
2,Thu,May,5/24,2018,8.13%,149.0,5/24/2018
3,Mon,May,5/29,2018,15.00%,148.0,5/29/2018
4,Tue,May,5/30,2018,4.32%,147.0,5/30/2018
...,...,...,...,...,...,...,...
194,Fri,Oct,10/23/2020,2020,6.67%,147.0,NaN
195,Mon,Oct,10/26/2020,2020,5.95%,148.0,NaN
196,Thu,Oct,10/29/2020,2020,5.00%,150.0,NaN
197,Mon,Nov,11/2/2020,2020,2.78%,149.0,NaN
198,Wed,Nov,11/4/2020,2020,2.92%,148.0,NaN

In [8]:
# cars[(cars['cyl'] == 4) & (cars['am'] == 1)]
for year in range(2018,2021):
    for month in rrates['Month'].unique():
        print(f"{month}, {year}, {rrates[(rrates['Month'] == month) & (rrates['Year'] == year)].shape[0]}")

May, 2018, 7
Jun, 2018, 3
Jul, 2018, 11
Aug, 2018, 6
Sep, 2018, 3
Oct, 2018, 8
Nov, 2018, 2
Dec, 2018, 6
Jan, 2018, 0
Feb, 2018, 0
Mar, 2018, 0
Apr, 2018, 0
May, 2019, 3
Jun, 2019, 3
Jul, 2019, 9
Aug, 2019, 18
Sep, 2019, 7
Oct, 2019, 5
Nov, 2019, 5
Dec, 2019, 3
Jan, 2019, 7
Feb, 2019, 13
Mar, 2019, 9
Apr, 2019, 11
May, 2020, 8
Jun, 2020, 5
Jul, 2020, 6
Aug, 2020, 7
Sep, 2020, 11
Oct, 2020, 11
Nov, 2020, 2
Dec, 2020, 0
Jan, 2020, 1
Feb, 2020, 0
Mar, 2020, 0
Apr, 2020, 9

In [14]:
for month in rrates['Month'].unique():
    print(f"{month}, {rrates[(rrates['Month'] == month)].shape[0]}")

May, 18
Jun, 11
Jul, 26
Aug, 31
Sep, 21
Oct, 24
Nov, 9
Dec, 9
Jan, 8
Feb, 13
Mar, 9
Apr, 20

In [13]:
for month in rrates['Month'].unique():
    print(f"{month}, {rrates[(rrates['Month'] == month) & ((rrates['Year'] == 2018) | (rrates['Year'] == 2019))].shape[0]}")

May, 10
Jun, 6
Jul, 20
Aug, 24
Sep, 10
Oct, 13
Nov, 7
Dec, 9
Jan, 7
Feb, 13
Mar, 9
Apr, 11

 Particularly low in Nov (9), Dec (9), Jan (8), Mar (9), and to an extent Jun (6 in 2018, 2019)