In [1]:
import pandas as pd

In [2]:
census = pd.read_csv('data/census_data/demo_char.csv', usecols = ['municipality'])

In [3]:
census['municipality'] = census['municipality'].str.rstrip(' ')

In [4]:
len(census)

245

In [5]:
recycle = pd.read_csv('data/MA_MSW_Collection_Data/musum19.csv', usecols = ['Municipality Name'])

In [6]:
len(recycle)

277

In [7]:
census_remain = list(set(census['municipality']) - set(recycle['Municipality Name']))

In [8]:
len(census_remain)

111

In [9]:
recycle_remain = list(set(recycle['Municipality Name']) - set(census['municipality']))

In [10]:
len(recycle_remain)

143

In [11]:
from uszipcode import Zipcode, SearchEngine

In [12]:
search = SearchEngine()

In [13]:
zip_lookup = {}
inprecision = []

# for town in recycle['Municipality Name']:   
for town in recycle_remain:
    res = search.by_city_and_state(town, "ma")
    
    if len(res) > 1:
        print(f"{town} returned more than one zip")
    if len(res) > 0:
        
        zip_lookup[town] = res[0].values()[0]
        if res[0].values()[2] != town:
            print(f'fuzzy match for {town} was non-exact at: {res[0].values()[2]}')
            inprecision.append(town)

fuzzy match for Freetown was non-exact at: East Freetown
fuzzy match for Yarmouth was non-exact at: South Yarmouth
fuzzy match for Peru was non-exact at: Newton Upper Falls
New Ashford returned more than one zip
fuzzy match for New Ashford was non-exact at: New Bedford
fuzzy match for Phillipston was non-exact at: Holliston
fuzzy match for Lanesborough was non-exact at: Lanesboro
fuzzy match for New Marlborough was non-exact at: Marlborough
fuzzy match for Tyngsborough was non-exact at: Tyngsboro
fuzzy match for Westhampton was non-exact at: Easthampton
fuzzy match for Middleborough was non-exact at: Middleboro
fuzzy match for Mount Washington was non-exact at: Groton
fuzzy match for North Attleborough was non-exact at: North Attleboro
fuzzy match for Shelburne was non-exact at: Shelburne Falls
fuzzy match for Washington was non-exact at: Abington

In [14]:
inprecision.remove('Freetown')
inprecision.remove('Lanesborough')
inprecision.remove('Tyngsborough')
inprecision.remove('Shelburne')
inprecision.remove('North Attleborough')
inprecision.remove('Middleborough')
inprecision

['Yarmouth',
 'Peru',
 'New Ashford',
 'Phillipston',
 'New Marlborough',
 'Westhampton',
 'Mount Washington',
 'Washington']

In [15]:
for town in inprecision:
    del zip_lookup[town]

In [16]:
len(zip_lookup)

123

In [17]:
zip_lookup

{'Avon': '02322',
 'Boxborough': '01719',
 'Manchester': '01944',
 'Cohasset': '02025',
 'Billerica': '01821',
 'Dracut': '01826',
 'Merrimac': '01860',
 'Worthington': '01098',
 'Granville': '01034',
 'Freetown': '02717',
 'Oak Bluffs': '02557',
 'Westport': '02790',
 'Norwell': '02061',
 'Leverett': '01054',
 'Whitman': '02382',
 'Carlisle': '01741',
 'Warwick': '01378',
 'Dudley': '01571',
 'Westminster': '01473',
 'East Longmeadow': '01028',
 'Monson': '01057',
 'Dunstable': '01827',
 'Heath': '01346',
 'Windsor': '01270',
 'Douglas': '01516',
 'Concord': '01742',
 'Dighton': '02715',
 'New Salem': '01355',
 'Sudbury': '01776',
 'Holliston': '01746',
 'Paxton': '01612',
 'Chesterfield': '01012',
 'Mansfield': '02048',
 'Fairhaven': '02719',
 'Natick': '01760',
 'Southwick': '01077',
 'Grafton': '01519',
 'Wellfleet': '02667',
 'Royalston': '01368',
 'Cummington': '01026',
 'Sutton': '01590',
 'Plainville': '02762',
 'West Boylston': '01583',
 'Holden': '01520',
 'Lanesborough': '01237',
 'Harwich': '02645',
 'Ashby': '01431',
 'Montague': '01351',
 'Rochester': '02770',
 'Tewksbury': '01876',
 'Shrewsbury': '01545',
 'Rockland': '02370',
 'Colrain': '01340',
 'Bedford': '01730',
 'Charlemont': '01339',
 'Harvard': '01451',
 'Wendell': '01379',
 'Lincoln': '01773',
 'Otis': '01253',
 'South Hadley': '01075',
 'Goshen': '01032',
 'Littleton': '01460',
 'Wenham': '01984',
 'Middleton': '01949',
 'Wayland': '01778',
 'Millis': '02054',
 'Shutesbury': '01072',
 'Tyngsborough': '01879',
 'Monterey': '01245',
 'North Andover': '01845',
 'Wrentham': '02093',
 'Sterling': '01564',
 'Williamsburg': '01096',
 'Medway': '02053',
 'Buckland': '01338',
 'Rowe': '01367',
 'Pembroke': '02359',
 'Mashpee': '02649',
 'Becket': '01223',
 'Dalton': '01226',
 'Hampden': '01036',
 'Plainfield': '01070',
 'Ashland': '01721',
 'Berkley': '02779',
 'Lakeville': '02347',
 'Southampton': '01073',
 'Hanover': '02339',
 'Swansea': '02777',
 'Canton': '02021',
 'Middleborough': '02346',
 'Wareham': '02571',
 'Hinsdale': '01235',
 'Ludlow': '01056',
 'North Attleborough': '02760',
 'Raynham': '02767',
 'Weston': '02493',
 'Savoy': '01256',
 'Seekonk': '02771',
 'Bolton': '01740',
 'East Bridgewater': '02333',
 'Sheffield': '01257',
 'Halifax': '02338',
 'West Bridgewater': '02379',
 'Gill': '01354',
 'Eastham': '02642',
 'Bernardston': '01337',
 'Norfolk': '02056',
 'Sherborn': '01770',
 'Auburn': '01501',
 'Shelburne': '01370',
 'Millbury': '01527',
 'Conway': '01341',
 'Marion': '02738',
 'Chilmark': '02535',
 'Acushnet': '02743',
 'Chelmsford': '01824',
 'Acton': '01720',
 'Westford': '01886',
 'Amherst': '01002',
 'Leicester': '01524',
 'Ashfield': '01330',
 'Erving': '01344',
 'Berlin': '01503'}

In [18]:
# zip_lookup['Aquinnah'] = '02535'
zip_lookup['Dartmouth'] = '02747'
zip_lookup['Egremont'] = '01230'
zip_lookup['Florida'] = '01247'
zip_lookup['Hamilton'] = '01982'
# zip_lookup['Hancock'] = '01237'
zip_lookup['Middlefield'] = '01243'
zip_lookup['Monroe'] = '01350'
zip_lookup['Mount Washington'] = '01258'
# zip_lookup['New Ashford'] = '01237'
zip_lookup['New Marlborough'] = '01259'
# zip_lookup['Peru'] = '01235'
zip_lookup['Phillipston'] = '01331'
zip_lookup['Truro'] = '02652'
zip_lookup['Tyringham'] =  '01264'
# zip_lookup['Washington'] = '01223'
zip_lookup['West Tisbury'] = '02575'
zip_lookup['Westhampton'] = '01027'
zip_lookup['Whately'] = '01093'

In [19]:
zip_lookup

{'Avon': '02322',
 'Boxborough': '01719',
 'Manchester': '01944',
 'Cohasset': '02025',
 'Billerica': '01821',
 'Dracut': '01826',
 'Merrimac': '01860',
 'Worthington': '01098',
 'Granville': '01034',
 'Freetown': '02717',
 'Oak Bluffs': '02557',
 'Westport': '02790',
 'Norwell': '02061',
 'Leverett': '01054',
 'Whitman': '02382',
 'Carlisle': '01741',
 'Warwick': '01378',
 'Dudley': '01571',
 'Westminster': '01473',
 'East Longmeadow': '01028',
 'Monson': '01057',
 'Dunstable': '01827',
 'Heath': '01346',
 'Windsor': '01270',
 'Douglas': '01516',
 'Concord': '01742',
 'Dighton': '02715',
 'New Salem': '01355',
 'Sudbury': '01776',
 'Holliston': '01746',
 'Paxton': '01612',
 'Chesterfield': '01012',
 'Mansfield': '02048',
 'Fairhaven': '02719',
 'Natick': '01760',
 'Southwick': '01077',
 'Grafton': '01519',
 'Wellfleet': '02667',
 'Royalston': '01368',
 'Cummington': '01026',
 'Sutton': '01590',
 'Plainville': '02762',
 'West Boylston': '01583',
 'Holden': '01520',
 'Lanesborough': '01237',
 'Harwich': '02645',
 'Ashby': '01431',
 'Montague': '01351',
 'Rochester': '02770',
 'Tewksbury': '01876',
 'Shrewsbury': '01545',
 'Rockland': '02370',
 'Colrain': '01340',
 'Bedford': '01730',
 'Charlemont': '01339',
 'Harvard': '01451',
 'Wendell': '01379',
 'Lincoln': '01773',
 'Otis': '01253',
 'South Hadley': '01075',
 'Goshen': '01032',
 'Littleton': '01460',
 'Wenham': '01984',
 'Middleton': '01949',
 'Wayland': '01778',
 'Millis': '02054',
 'Shutesbury': '01072',
 'Tyngsborough': '01879',
 'Monterey': '01245',
 'North Andover': '01845',
 'Wrentham': '02093',
 'Sterling': '01564',
 'Williamsburg': '01096',
 'Medway': '02053',
 'Buckland': '01338',
 'Rowe': '01367',
 'Pembroke': '02359',
 'Mashpee': '02649',
 'Becket': '01223',
 'Dalton': '01226',
 'Hampden': '01036',
 'Plainfield': '01070',
 'Ashland': '01721',
 'Berkley': '02779',
 'Lakeville': '02347',
 'Southampton': '01073',
 'Hanover': '02339',
 'Swansea': '02777',
 'Canton': '02021',
 'Middleborough': '02346',
 'Wareham': '02571',
 'Hinsdale': '01235',
 'Ludlow': '01056',
 'North Attleborough': '02760',
 'Raynham': '02767',
 'Weston': '02493',
 'Savoy': '01256',
 'Seekonk': '02771',
 'Bolton': '01740',
 'East Bridgewater': '02333',
 'Sheffield': '01257',
 'Halifax': '02338',
 'West Bridgewater': '02379',
 'Gill': '01354',
 'Eastham': '02642',
 'Bernardston': '01337',
 'Norfolk': '02056',
 'Sherborn': '01770',
 'Auburn': '01501',
 'Shelburne': '01370',
 'Millbury': '01527',
 'Conway': '01341',
 'Marion': '02738',
 'Chilmark': '02535',
 'Acushnet': '02743',
 'Chelmsford': '01824',
 'Acton': '01720',
 'Westford': '01886',
 'Amherst': '01002',
 'Leicester': '01524',
 'Ashfield': '01330',
 'Erving': '01344',
 'Berlin': '01503',
 'Dartmouth': '02747',
 'Egremont': '01230',
 'Florida': '01247',
 'Hamilton': '01982',
 'Middlefield': '01243',
 'Monroe': '01350',
 'Mount Washington': '01258',
 'New Marlborough': '01259',
 'Phillipston': '01331',
 'Truro': '02652',
 'Tyringham': '01264',
 'West Tisbury': '02575',
 'Westhampton': '01027',
 'Whately': '01093'}

In [20]:
inv_lookup = {v: k for k, v in zip_lookup.items()}

In [21]:
inv_lookup['01237']

'Lanesborough'

In [22]:
import requests

In [23]:
def group_call(groupID):
    '''
    API call for census data, takes a groupID, refers to metadata table in data/census and returns a dataframe with desire columns
    '''
    # getting meta data information for group, meta data includes specific columns of interest and their labels for each "group" in the ACS
    meta = pd.read_csv('data/census_data/metadatagroup.csv', index_col='ID')
    meta = meta[meta['Group'] == groupID]
#     meta.loc['NAME'] = ['','','municipality']
    estIDs = list(meta.index)
    estIDs.append('zip code tabulation area')
    
    # Set base url
    url = 'https://api.census.gov/data/2019/acs/acs5/profile?'
    
    # Set params
    params = {
        'get': f'group({groupID})',
        'for': 'zip code tabulation area:*',
        'in': 'state:25',
        'key': 'APIKEY'
    }
    # Make a request and display the response code.
    res = requests.get(url,params)
    res
    # Create a dataframe from the request JSON object.
    df = pd.DataFrame(res.json())
    df.columns = df.iloc[0]
    df.drop(df.index[0], inplace=True)
    
    # Only keep cols of interest
    df = df[estIDs]
    
    # Relabel IDs to Labels, format municipality names, and make muncipality the index
    df.rename(columns= dict(zip(df.columns, meta['label'])), inplace = True)
    df.set_index('zip code tabulation area', inplace=True)
    df = df.loc[zip_lookup.values()]
    df['municipality'] = df.index.map(inv_lookup) 
    df.set_index('municipality', inplace=True)

    return df

In [24]:
# creating df for each group

groups = {
    'education_char':'DP02',
    'economic_char':'DP03',
    'housing_char':'DP04',
    'demo_char':'DP05'
}

for characteristic in groups:
    exec(f'{characteristic} = group_call(groups[characteristic])')

In [25]:
education_char.head()

,KEY_population_25_and_older,edu_high_school_and_higher_%,edu_bachelors_and_higher_%
municipality,,,
Avon,3389,92.0,26.9
Boxborough,3876,95.9,66.2
Manchester,3842,98.3,70.8
Cohasset,5572,98.6,70.8
Billerica,23370,93.6,37.2

In [26]:
census_remain = list(set(census['municipality']) - set(recycle['Municipality Name']))

In [27]:
len(census_remain)

111

In [28]:
recycle_remain = list(set(recycle['Municipality Name']) - set(education_char.index) - set(census['municipality']))

In [29]:
len(recycle_remain)

6

In [30]:
recycle_remain.sort()
recycle_remain

['Aquinnah', 'Hancock', 'New Ashford', 'Peru', 'Washington', 'Yarmouth']

In [31]:
# For saving files

# for char_df in groups:
#     exec(f"{char_df}.to_csv('data/census_data/{char_df}_by_zip.csv', index=True)")

In [32]:
# joing all the char dfs into one table of zip data

zip_char = pd.concat([education_char,economic_char,housing_char,demo_char], axis=1)
zip_char.head()

,KEY_population_25_and_older,edu_high_school_and_higher_%,edu_bachelors_and_higher_%,KEY_pop_16_+,unemployment_rate_%,median_household_income,mean_household_income,families_below_poverty_level_%,people_below_poverty_level_%,KEY_total_housing_units,...,KEY_total_population,males-to-100females,median_age,demo_white_%,demo_black_aa_%,demo_american_indian_%,demo_asian_%,demo_native_islander%,demo_other_Race_%,demo_hispanic_latino_%
municipality,,,,,,,,,,,,,,,,,,,,,
Avon,3389,92.0,26.9,3703,4.8,85200,93196,6.6,9.8,1787,...,4500,90.8,40.0,75.6,18.7,0.5,3.9,0.0,3.4,4.2
Boxborough,3876,95.9,66.2,4535,4.6,115395,143993,4.6,4.5,2371,...,5561,102.1,43.2,79.6,1.3,1.3,19.2,0.0,1.7,5.1
Manchester,3842,98.3,70.8,4314,3.4,148854,193406,1.9,3.3,2294,...,5383,100.9,48.9,99.3,0.0,0.0,1.4,0.0,0.0,1.5
Cohasset,5572,98.6,70.8,6245,2.6,145679,224019,2.8,4.6,3505,...,8484,89.7,44.0,97.5,1.5,0.1,1.2,0.2,0.4,1.4
Billerica,23370,93.6,37.2,27290,4.2,106141,117150,2.1,3.5,11877,...,32797,98.0,41.1,86.5,4.4,0.6,9.1,0.2,1.6,3.6

In [33]:
zip_char.shape

(137, 32)

In [35]:
# importing previous collected census data "by place" to add to 'by zip code'

for characteristic in groups:
    exec(f'{characteristic} = pd.read_csv("data/census_data/{characteristic}.csv", index_col="municipality")')
    
place_char = pd.concat([education_char,economic_char,housing_char,demo_char], axis=1)

In [36]:
place_char.head()

,KEY_population_25_and_older,edu_high_school_and_higher_%,edu_bachelors_and_higher_%,KEY_pop_16_+,unemployment_rate_%,median_household_income,mean_household_income,families_below_poverty_level_%,people_below_poverty_level_%,KEY_total_housing_units,...,KEY_total_population,males-to-100females,median_age,demo_white_%,demo_black_aa_%,demo_american_indian_%,demo_asian_%,demo_native_islander%,demo_other_Race_%,demo_hispanic_latino_%
municipality,,,,,,,,,,,,,,,,,,,,,
Weymouth,41855,93.8,39.2,47753,5.8,84942,100858,4.3,6.0,24570,...,56734,90.4,42.4,85.7,6.3,0.3,7.5,0.2,1.8,3.8
Winthrop,14263,95.5,38.3,15688,3.6,74069,102769,5.4,8.8,8367,...,18542,88.3,44.9,95.0,3.7,0.2,1.3,0.0,1.9,9.5
Belchertown,2017,93.2,40.5,2328,4.4,78578,96836,3.7,9.3,1224,...,2874,99.0,42.0,92.9,1.5,0.0,9.2,0.0,0.0,5.2
Needham,20559,97.8,76.0,23711,4.0,165547,223894,1.4,2.7,11309,...,30970,92.2,43.5,87.4,3.4,0.3,10.6,0.0,0.7,3.2
Quincy,73038,88.2,45.1,82087,5.1,77562,94360,8.0,11.3,43736,...,94207,94.5,39.7,62.7,5.8,0.4,31.4,0.3,1.4,3.1

In [37]:
# just checking if the two census tables contain any of the sample towns (they shouldn't)

any(item in list(zip_char.index) for item in list(place_char))

False

In [38]:
place_char.shape

(245, 32)

In [51]:
recycle.shape

(277, 1)

In [39]:
recycle_remain = list(set(recycle['Municipality Name']) - set(census['municipality']))
len(recycle_remain)

143

In [40]:
extra = set(census['municipality']) - set(recycle['Municipality Name'])
overlap = set(census['municipality']) - extra

In [41]:
place_char.loc[overlap]

,KEY_population_25_and_older,edu_high_school_and_higher_%,edu_bachelors_and_higher_%,KEY_pop_16_+,unemployment_rate_%,median_household_income,mean_household_income,families_below_poverty_level_%,people_below_poverty_level_%,KEY_total_housing_units,...,KEY_total_population,males-to-100females,median_age,demo_white_%,demo_black_aa_%,demo_american_indian_%,demo_asian_%,demo_native_islander%,demo_other_Race_%,demo_hispanic_latino_%
municipality,,,,,,,,,,,,,,,,,,,,,
Sharon,3833,98.4,72.9,4443,4.5,144333,173768,0.0,2.0,2195,...,5914,98.1,40.7,88.2,1.4,0.5,10.3,0.0,1.5,2.8
Southbridge,11439,82.6,17.2,13614,8.8,51270,64448,16.7,20.7,7368,...,16887,95.5,39.3,86.2,5.3,1.6,0.5,0.1,10.9,32.9
Sandwich,2283,97.0,55.4,2757,4.4,93333,121219,0.7,7.2,1961,...,3002,89.0,51.7,98.3,0.0,0.0,1.7,0.0,0.0,6.9
Shirley,1583,98.3,15.6,1755,1.5,65507,75261,3.5,5.7,988,...,1861,109.8,58.1,97.0,2.1,1.3,4.7,0.0,0.0,0.0
Franklin,21806,97.3,55.7,26502,4.1,122607,148748,2.5,4.0,12192,...,33256,92.9,41.1,92.9,2.5,0.2,6.6,0.0,0.3,1.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Chester,563,90.4,15.6,628,2.6,65250,71762,9.3,13.2,308,...,787,86.9,43.6,99.5,1.3,0.0,0.0,0.0,0.0,0.5
Abington,11793,94.7,39.1,13727,4.3,99381,105390,2.5,4.1,6781,...,16436,97.7,42.2,93.2,3.0,0.3,4.9,0.0,1.4,2.6
Methuen,34750,88.3,28.1,41418,6.0,77484,96043,6.8,9.2,18700,...,50282,92.6,40.7,78.1,6.8,0.9,4.6,0.0,13.4,29.5
Walpole,4322,93.2,46.9,4760,2.9,94375,117674,2.0,4.2,2666,...,6197,102.4,41.2,85.7,1.5,0.7,5.4,0.0,7.3,10.5
Agawam,21598,93.3,33.2,23942,3.5,68944,87473,4.3,7.9,12253,...,28696,95.3,46.4,95.6,2.8,0.7,2.8,0.0,0.4,5.4

In [43]:
comb_char = pd.concat([place_char.loc[overlap], zip_char], axis=0)
comb_char.head()

,KEY_population_25_and_older,edu_high_school_and_higher_%,edu_bachelors_and_higher_%,KEY_pop_16_+,unemployment_rate_%,median_household_income,mean_household_income,families_below_poverty_level_%,people_below_poverty_level_%,KEY_total_housing_units,...,KEY_total_population,males-to-100females,median_age,demo_white_%,demo_black_aa_%,demo_american_indian_%,demo_asian_%,demo_native_islander%,demo_other_Race_%,demo_hispanic_latino_%
municipality,,,,,,,,,,,,,,,,,,,,,
Sharon,3833,98.4,72.9,4443,4.5,144333,173768,0,2,2195,...,5914,98.1,40.7,88.2,1.4,0.5,10.3,0,1.5,2.8
Southbridge,11439,82.6,17.2,13614,8.8,51270,64448,16.7,20.7,7368,...,16887,95.5,39.3,86.2,5.3,1.6,0.5,0.1,10.9,32.9
Sandwich,2283,97,55.4,2757,4.4,93333,121219,0.7,7.2,1961,...,3002,89,51.7,98.3,0,0,1.7,0,0,6.9
Shirley,1583,98.3,15.6,1755,1.5,65507,75261,3.5,5.7,988,...,1861,109.8,58.1,97,2.1,1.3,4.7,0,0,0
Franklin,21806,97.3,55.7,26502,4.1,122607,148748,2.5,4,12192,...,33256,92.9,41.1,92.9,2.5,0.2,6.6,0,0.3,1.6

In [44]:
comb_char.shape

(271, 32)

In [45]:
recycle_remain = list(set(recycle['Municipality Name']) - set(comb_char.index))
len(recycle_remain)

6

In [46]:
recycle_remain

['Hancock', 'Yarmouth', 'Aquinnah', 'New Ashford', 'Peru', 'Washington']

In [47]:
# check what towns in the recycle data could pull in multiple towns from the census data

pairings3 = {}
sub_towns = 0
for mun in recycle_remain:
    matches = [place for place in place_char.index if mun in place]
    # check if any of the matches are actually towns that are already listed in the recycle towns
    # this will also remove the 'mun' from the match list
#     for match in matches.copy():
#         if match in list(recycle['Municipality Name']):
#             matches.remove(match)
    
    if len(matches) > 0:
        pairings3[mun] = matches
        sub_towns = sub_towns + len(matches)

print(f"number of census entries to convert: {sub_towns}")
pairings3

number of census entries to convert: 3

{'Yarmouth': ['West Yarmouth', 'Yarmouth Port', 'South Yarmouth']}

In [69]:
comb_char.loc['Yarmouth'] = place_char.loc[['West Yarmouth', 'Yarmouth Port', 'South Yarmouth']].sum()

In [70]:
comb_char.tail()

,KEY_population_25_and_older,edu_high_school_and_higher_%,edu_bachelors_and_higher_%,KEY_pop_16_+,unemployment_rate_%,median_household_income,mean_household_income,families_below_poverty_level_%,people_below_poverty_level_%,KEY_total_housing_units,...,KEY_total_population,males-to-100females,median_age,demo_white_%,demo_black_aa_%,demo_american_indian_%,demo_asian_%,demo_native_islander%,demo_other_Race_%,demo_hispanic_latino_%
municipality,,,,,,,,,,,,,,,,,,,,,
Tyringham,159,99.4,42.8,187,1.7,71250,136495,3.6,20.4,128,...,206,70.2,55.5,92.7,1.0,0.0,0.0,0.0,6.3,15.0
West Tisbury,2003,98.0,54.3,2166,2.4,95351,111340,0.0,6.0,2457,...,2418,72.6,54.9,97.1,3.4,1.4,1.0,0.3,0.6,2.6
Westhampton,13940,96.4,39.3,15399,6.6,67119,82441,3.5,8.6,8457,...,17818,96.0,45.0,95.9,2.4,0.4,3.1,0.0,1.3,4.2
Whately,228,98.7,55.3,288,2.1,91563,138207,0.0,8.0,120,...,313,104.6,52.3,100.0,0.0,0.0,0.0,0.0,0.0,0.0
Yarmouth,17674,282.9,116.5,19482,10.6,197781,254463,14.2,19.6,16238,...,22074,246.7,164.5,278,10.7,2.2,8.9,1.5,7,9.1

In [71]:
recycle_remain = list(set(recycle['Municipality Name']) - set(comb_char.index))
recycle_remain

['Hancock', 'Aquinnah', 'New Ashford', 'Peru', 'Washington']

## Adding in voter data

In [72]:
voter_char = pd.read_csv('data/MA_voting_info/vote_char.csv', index_col='municipality')

In [83]:
recycle_remain = list(set(recycle['Municipality Name']) - set(voter_char.index))
recycle_remain

['Devens']

In [81]:
voter_char.rename(mapper={'Manchester-By-The-Sea':'Manchester'},inplace=True)

In [82]:
voter_char.loc['Manchester']

dem%    23
rep%    17
un%     59
Name: Manchester, dtype: int64

In [91]:
comb_char = comb_char.merge(voter_char, how='inner', left_index=True, right_index=True)

In [103]:
waste = pd.read_csv('data/MA_MSW_Collection_Data/musum19.csv', index_col='Municipality Name', usecols=['Municipality Name','total_waste/hh'])

In [104]:
waste.head(2)

                   total_waste/hh
Municipality Name
Abington                 1.168096
Acton                    0.810190

In [106]:
comb_char = comb_char.merge(waste,how='inner',left_index=True,right_index=True)

In [123]:
comb_char.head()

,KEY_population_25_and_older,edu_high_school_and_higher_%,edu_bachelors_and_higher_%,KEY_pop_16_+,unemployment_rate_%,median_household_income,mean_household_income,families_below_poverty_level_%,people_below_poverty_level_%,KEY_total_housing_units,...,demo_black_aa_%,demo_american_indian_%,demo_asian_%,demo_native_islander%,demo_other_Race_%,demo_hispanic_latino_%,dem%,rep%,un%,total_waste/hh
Sharon,3833.0,98.4,72.9,4443.0,4.5,144333.0,173768.0,0.0,2.0,2195.0,...,1.4,0.5,10.3,0.0,1.5,2.8,32,7,60,1.161119
Southbridge,11439.0,82.6,17.2,13614.0,8.8,51270.0,64448.0,16.7,20.7,7368.0,...,5.3,1.6,0.5,0.1,10.9,32.9,31,10,57,0.934264
Sandwich,2283.0,97.0,55.4,2757.0,4.4,93333.0,121219.0,0.7,7.2,1961.0,...,0.0,0.0,1.7,0.0,0.0,6.9,20,18,61,0.940637
Shirley,1583.0,98.3,15.6,1755.0,1.5,65507.0,75261.0,3.5,5.7,988.0,...,2.1,1.3,4.7,0.0,0.0,0.0,20,13,65,0.660673
Franklin,21806.0,97.3,55.7,26502.0,4.1,122607.0,148748.0,2.5,4.0,12192.0,...,2.5,0.2,6.6,0.0,0.3,1.6,22,14,63,1.095274

In [120]:
for col in comb_char.columns:
    comb_char[col] = pd.to_numeric(comb_char[col])

In [122]:
comb_char.info()

<class 'pandas.core.frame.DataFrame'>
Index: 271 entries, Sharon to Yarmouth
Data columns (total 36 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   KEY_population_25_and_older     271 non-null    float64
 1   edu_high_school_and_higher_%    271 non-null    float64
 2   edu_bachelors_and_higher_%      271 non-null    float64
 3   KEY_pop_16_+                    271 non-null    float64
 4   unemployment_rate_%             271 non-null    float64
 5   median_household_income         271 non-null    float64
 6   mean_household_income           271 non-null    float64
 7   families_below_poverty_level_%  271 non-null    float64
 8   people_below_poverty_level_%    271 non-null    float64
 9   KEY_total_housing_units         271 non-null    float64
 10  occupancy_%                     271 non-null    float64
 11  1-unit_detached_%               271 non-null    float64
 12  1-unit_attached_%               271 non-null    float64
 13  2-units_%                       271 non-null    float64
 14  3-4_units_%                     271 non-null    float64
 15  5-9_units_%                     271 non-null    float64
 16  10-19_units_%                   271 non-null    float64
 17  20+_units_%                     271 non-null    float64
 18  mobile_home_%                   271 non-null    float64
 19  boat_RV_van_%                   271 non-null    float64
 20  owner-occupied_%                271 non-null    float64
 21  renter-occupied_%               271 non-null    float64
 22  KEY_total_population            271 non-null    float64
 23  males-to-100females             271 non-null    float64
 24  median_age                      271 non-null    float64
 25  demo_white_%                    271 non-null    float64
 26  demo_black_aa_%                 271 non-null    float64
 27  demo_american_indian_%          271 non-null    float64
 28  demo_asian_%                    271 non-null    float64
 29  demo_native_islander%           271 non-null    float64
 30  demo_other_Race_%               271 non-null    float64
 31  demo_hispanic_latino_%          271 non-null    float64
 32  dem%                            271 non-null    int64
 33  rep%                            271 non-null    int64
 34  un%                             271 non-null    int64
 35  total_waste/hh                  267 non-null    float64
dtypes: float64(33), int64(3)
memory usage: 78.3+ KB

In [124]:
# For saving files

# comb_char.to_csv('data/combined_municipality_characteristics.csv', index=True)